/* 
#012030
#13678A
#45C4B0
#9AEBA3
#DAFDBA
*/

:root {
    --body-color: #012030;
    
    --text-color: #DAFDBA;

    --keypad-color: #9AEBA3;
    --button-color: #13678A;
    
    --total-view-color: #9AEBA3;
    --total-display-color: #45C4B0;
}

body {
    background-color: var(--body-color);
    
    font-family:monospace, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    
    
    touch-action: manipulation;
}

.bento-item {
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease;
}

.bento-item:hover {
    transform: scale(1.05);
}

.bento-tall {
    height: 410px;
}

.green-colour {
    background-color: var(--total-display-color);
}

.blue-colour {
    background-color: var(--button-color);
}

.wrap-text {
    overflow-wrap: break-all;
}


.bento-thinish {
    height: 150px;
}
.bento-thin {
    height: 100px;
}

textarea {
    width: 23rem;
    height: 320px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }